@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,600,700,800');

html,body
  font-family 'Raleway', sans-serif
  font-size 100%

.img-container
  margin 15px 0
  &.extreme-padded
    margin 35px 0

footer
  margin 50px 0 0 0
  background-color #343a40
  color #fff
  padding 30px 0